p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  max-width: 560px;
  max-width: 70ch;
}
ul,
ol {
  padding-left: 0;
}
li {
  margin-left: 24px;
  margin-left: 3ch;
}
figure,
blockquote {
  max-width: 536px;
  max-width: 67ch;
  margin: 0 0 0 1.4ch;
  padding: 0 0 0 1.4ch;
}
img {
  max-width: 100%;
}
blockquote {
  background: #f9f9f9;
  border-left: 0.2ch solid #ccc;
}
pre {
  min-width: max-content;
}
blockquote > p,
blockquote > h1,
blockquote > h2,
blockquote > h3,
blockquote > h4,
blockquote > h5,
blockquote > h6,
blockquote > ul,
blockquote > ol {
  margin-left: 0;
  margin-right: 16px;
  margin-right: 2ch;
}
