p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  max-width: 60ch;
}
ul,
ol {
  padding-left: 0;
}
li {
  margin-left: 3ch;
}
blockquote {
  max-width: 57ch;
  background: #f9f9f9;
  border-left: 0.2ch solid #ccc;
  margin: 0 0 0 1.4ch;
  padding: 0 0 0 1.4ch;
}
blockquote > p,
blockquote > h1,
blockquote > h2,
blockquote > h3,
blockquote > h4,
blockquote > h5,
blockquote > h6,
blockquote > ul,
blockquote > ol {
  margin-left: 0;
  margin-right: 2ch;
}
